<div id="login-form">
    <div class="center mb-3 mt-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" placeholder="Enter name" name="name" #name>
        <h2>Tamagotchi species:</h2>
        <label>
            <input type="radio" name="species" [(ngModel)]="species" value="wyrm" checked>
            <img src="/assets/images/wyrm1.png" width="200" height="200" alt="Option 1">
        </label>
        <label>
            <input type="radio" name="species" [(ngModel)]="species" value="sphynx">
            <img src="/assets/images/sphynx1.png" width="200" height="200" alt="Option 2">
        </label>
        <label>
            <input type="radio" name="species" [(ngModel)]="species" value="wraith">
            <img src="/assets/images/wraith1.png" width="200" height="200" alt="Option 3">
        </label>
        </div>
        <button class="btn btn-success mb-3" (click)="create(name.value)">Create</button>
</div>