<div class="container-main">
    <h1 class="center title">{{tamagotchiName}}</h1>
    <img src={{avatar}} width="400" height="400" class="center avatar">
    <h2 class="center">Feeling {{feeling}}</h2>
    <h3 class="center">Stage: {{stage}}</h3>
    <table class='table center' id="filterTable">
        <thead>
        <tr>
          <th>HUNGER</th>
          <th>HAPPINESS</th>
          <th>CLEANLINESS</th>
          <th>AGE</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{status.hunger}}</td>
            <td>{{status.happiness}}</td>
            <td>{{status.cleanliness}}</td>
            <td>{{status.age}}</td>
          </tr>
        </tbody>
      </table>
    <div class="buttons">
        <div class="status-div">
            <button class="btn btn-primary" (click)="feed()">Feed</button>
        </div>
        <div class="status-div">
            <button class="btn btn-primary" (click)="play()">Play</button>
        </div>
        <div class="status-div">
          <button class="btn btn-primary" (click)="clean()">Clean</button>
        </div>
        <div class="create-div">
          <button class="btn btn-success" (click)="create()">New Tamagotchi</button>
        </div>
        <div class="exit-div">
          <a routerLink="" routerLinkActive="active">
            <button class="btn btn-danger" (click)="removeUser()">Log out</button>
          </a>
        </div>
    </div>
  </div>